/* General setup */
@font-face {
    font-family: 'ChunkFive';
    src: url('fonts/ChunkFive-Regular.woff2') format('woff2'),
        url('fonts/ChunkFive-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Great Vibes';
    src: url('fonts/GreatVibes-Regular.woff2') format('woff2'),
        url('fonts/GreatVibes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.bitcount-prop-single-test {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}


.roboto-test {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-family: "ChunkFive", serif;
  font-size: 3.2rem;
}

h2 {
  font-family: "ChunkFive", serif;
  font-size: 2.4rem;
}

p {
  font-family: "Great Vibes", cursive;
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}